/include/ "zynq.dtsi"

/ {
	model = "FHK Zynq ZC706";
	memory {
		device_type = "memory";
		reg = <0x00000000 0x40000000>;
	};

	chosen {
		bootargs = "console=ttyPS0,115200 root=/dev/mmcblk0p2 rw earlyprintk rootfstype=ext4 rootwait";
		linux,stdout-path = "/amba@0/uart@E0001000";
	};

	leds {
		compatible = "gpio-leds";
		ds8 {
			label = "ds12:green";
			gpios = <&gpio0 61 0>;
		};

		ds9 {
			label = "ds15:green";
			gpios = <&gpio0 62 0>;
		};

		ds10 {
			label = "ds16:green";
			gpios = <&gpio0 63 0>;
		};

		ds35 {
			label = "ds17:green";
			gpios = <&gpio0 64 0>;
		};
	};

	gpio_keys {
		compatible = "gpio-keys";
		#address-cells = <1>;
		#size-cells = <0>;
		autorepeat;

		sw7 {
			label = "Left";
			linux,code = <105>; // Left
			gpios = <&gpio0 58 0>;
		};

		sw8 {
			label = "Right";
			linux,code = <106>; // Right
			gpios = <&gpio0 60 0>;
		};
		/* comment to enable the interrupt of UART0
		sw9 {
			label = "Select";
			linux,code = <28>; // Enter
			gpios = <&gpio0 59 0>;
		};*/
	};

	fpga_axi: fpga-axi@0 {
		compatible = "simple-bus";
		#address-cells = <0x1>;
		#size-cells = <0x1>;
		ranges;
	};

	fpga_axi1: fpga-axi@1 {
		compatible = "simple-bus";
		#address-cells = <0x1>;
		#size-cells = <0x1>;
		ranges;
	};
};

&gem0 {
	phy-handle = <&phy0>;
	phy-mode = "rgmii-id";

	phy0: phy@7 {
		device_type = "ethernet-phy";
		reg = <0x7>;
	};
	/*phy1: phy@1 { 1GE-PHY: M88E1510
		device_type = "ethernet-phy";
		reg = <0x1>;
	};*/
};

&usb0 {
	xlnx,phy-reset-gpio = <&gpio0 7 0>;
	status = "disable";
};

&qspi {
	status = "okay";
	is-dual = <1>;
	num-cs = <1>;
	primary_flash: ps7-qspi@0 {
		#address-cells = <1>;
		#size-cells = <1>;
		spi-tx-bus-width = <1>;
		spi-rx-bus-width = <4>;
		compatible = "n25q128a11";
		reg = <0x0>;
		spi-max-frequency = <50000000>;
		partition@0 {
			label = "boot";
			reg = <0x00000000 0x00500000>;
		};
		partition@500000 {
			label = "bootenv";
			reg = <0x00500000 0x00020000>;
		};
		partition@520000 {
			label = "config";
			reg = <0x00520000 0x00020000>;
		};
		partition@540000 {
			label = "image";
			reg = <0x00540000 0x00a80000>;
		};
		partition@fc0000 {
			label = "spare";
			reg = <0x00fc0000 0x00000000>;
		};
/*
		spi-rx-bus-width = <8>;
		spi-tx-bus-width = <8>;

		compatible = "n25q512a", "micron,m25p80";
		reg = <0>;
		#address-cells = <1>;
		#size-cells = <1>;
		spi-max-frequency = <50000000>;

		partition@0x00000000 {
			label = "boot";
			reg = <0x0 0x500000>;
		};

		partition@0x00500000 {
			label = "bootenv";
			reg = <0x500000 0x20000>;
		};

		partition@0x00520000 {
			label = "kernel";
			reg = <0x520000 0xA80000>;
		};

		partition@0x00fa0000 {
			label = "spare";
			reg = <0xFA0000 0x0>;
		};
*/
	};
};

&uart0 {
	status = "okay";
};

&i2c0 {
	status = "okay";
	/* uspace: i2c-si5324-xgeth.sh
	i2c_mux: i2cswitch@74 {
		compatible = "nxp,pca9548";
		#address-cells = <1>;
		#size-cells = <0>;
		reg = <0x74>;
	};
	clk2xge@68 {
		compatible = "si5324";
		#address-cells = <1>;
		#size-cells = <0>;
		reg = <0x68>;
	};*/
};


&fpga_axi {
		i2c@41600000 {
			compatible = "xlnx,axi-iic-1.02.a", "xlnx,xps-iic-2.00.a";
			reg = <0x41600000 0x10000>;
			interrupt-parent = <&intc>;
			interrupts = <0 58 4>;//UG585, Table 7-4: I2C0 57
			clocks = <&clkc 15>;//fclk0
			clock-names = "pclk";

			#address-cells = <1>;
			#size-cells = <0>;

			i2c_mux: i2cswitch@74 {
				compatible = "nxp,pca9548";
				#address-cells = <1>;
				#size-cells = <0>;
				reg = <0x74>;

				i2c@0 {
					#address-cells = <1>;
					#size-cells = <0>;
					reg = <0>;
					osc@5d {
						compatible = "si570";
						temperature-stability = <50>;
						reg = <0x5d>;
						factory-fout = <156250000>;
						initial-fout = <148500000>;
					};
				};

				/*i2c@1 {
				    #address-cells = <1>;
				    #size-cells = <0>;
				    reg = <1>;

				    adv7511: adv7511 {
						compatible = "adi,adv7511";
						reg = <0x39>, <0x3f>;
						reg-names = "primary", "edid";

						adi,input-depth = <8>;
						adi,input-colorspace = "rgb";
						adi,input-clock = "1x";
						adi,clock-delay = <0>;

						#sound-dai-cells = <0>;

						ports {
							#address-cells = <1>;
							#size-cells = <0>;

							port@0 {
								reg = <0>;
								adv7511_in: endpoint {
									remote-endpoint = <&axi_hdmi_out>;
								};
							};

							port@1 {
								reg = <1>;
							};
						};
				    };
				};*/

				i2c@2 {
					#address-cells = <1>;
					#size-cells = <0>;
					reg = <2>;
					eeprom@54 {
						compatible = "at,24c08";
						reg = <0x54>;
					};
				};

				/*i2c@3 {
					#address-cells = <1>;
					#size-cells = <0>;
					reg = <3>;
					gpio@21 {
						compatible = "ti,tca6416";
						reg = <0x21>;
						gpio-controller;
						#gpio-cells = <2>;
					};
					sensor@48 {
						compatible = "ti,tmp75";// hwmon/lm75.c
						reg = <0x48>;
					};
				};*/

				/*i2c@4 {
					#address-cells = <1>;
					#size-cells = <0>;
					reg = <4>;
					rtc@51 {
						compatible = "nxp,pcf8563";
						reg = <0x51>;
					};
					rtc@68 {
						compatible = "idt,idt1337";// driver unknown
						reg = <0x68>;
					};
				};*/
			};
		};
/*
		hdmi_dma: dma@43000000 {
			compatible = "adi,axi-dmac-1.00.a";
			reg = <0x43000000 0x10000>;
			#dma-cells = <1>;
			interrupts = <0 59 0>;
			clocks = <&clkc 16>;

			adi,channels {
				#size-cells = <0>;
				#address-cells = <1>;

				dma-channel@0 {
					reg = <0>;
					adi,source-bus-width = <64>;
					adi,source-bus-type = <0>;
					adi,destination-bus-width = <64>;
					adi,destination-bus-type = <1>;
				};
			};
		};

		hdmi_clock: axi-clkgen@79000000 {
			compatible = "adi,axi-clkgen-2.00.a";
			reg = <0x79000000 0x10000>;
			#clock-cells = <0>;
			clocks = <&clkc 16>;
		};

		axi_hdmi@70e00000 {
			compatible = "adi,axi-hdmi-tx-1.00.a";
			reg = <0x70e00000 0x10000>;
			dmas = <&hdmi_dma 0>;
			dma-names = "video";
			clocks = <&hdmi_clock>;
			adi,is-rgb;

			port {
				axi_hdmi_out: endpoint {
					remote-endpoint = <&adv7511_in>;
				};
			};
		};

		axi_spdif_tx_0: axi-spdif-tx@75c00000 {
			compatible = "adi,axi-spdif-tx-1.00.a";
			reg = <0x75c00000 0x1000>;
			dmas = <&dmac_s 0>;
			dma-names = "tx";
			clocks = <&clkc 15>, <&audio_clock>;
			clock-names = "axi", "ref";

			#sound-dai-cells = <0>;
		};
*/
};
/*
	audio_clock: audio_clock {
		compatible = "fixed-clock";
		#clock-cells = <0>;
		clock-frequency = <12288000>;
	};

	adv7511_hdmi_snd {
		compatible = "simple-audio-card";
		simple-audio-card,name = "HDMI monitor";
		simple-audio-card,widgets =
			"Speaker", "Speaker";
		simple-audio-card,routing =
			"Speaker", "TX";

		simple-audio-card,dai-link@0 {
			format = "spdif";
			cpu {
				sound-dai = <&axi_spdif_tx_0>;
				frame-master;
				bitclock-master;
			};
			codec {
				sound-dai = <&adv7511>;
			};
		};
	};
*/


&fpga_axi {
/*	// https://xilinx-wiki.atlassian.net/wiki/spaces/A/pages/18842485/Linux+AXI+Ethernet+driver
	xgemac: ethernet@43c30000 {
		reg = <0x43C30000 0x10000>;
		axistream-connected = <&xgedma>;
		axistream-control-connected = <&xgedma>;
		clock-frequency = <156250000>;
		compatible = "xlnx,ten-gig-eth-mac";
		device_type = "network";
		phy-mode = "base-r";
		//phy-mode = "rgmii-id";
		//phy-handle = <&phy5>;
		xlnx = <0x0>;
		xlnx,rxmem = <0x4000>;

		phy5: phy@5 {// 10GE-PHY: M88X3310
			#address-cells = <0x1>;
			#size-cells = <0x0>;
			device_type = "ethernet-phy";
			reg = <0x5>;
		};
	};

	xgedma: xge-dmac@40400000 {
		reg = <0x40400000 0x10000>;
		#dma-cells = <1>;
		axistream-connected = <&xgemac>;
		axistream-control-connected = <&xgemac>;
		clock-names = "s_axi_lite_aclk", "m_axi_sg_aclk";
		clocks = <&clkc 15>;//fclk0
		compatible = "xlnx,eth-dma";
		interrupt-names = "mm2s_introut", "s2mm_introut";
		interrupt-parent = <&intc>;
		interrupts = <0 29 4 0 30 4>;//UG585, todo Table 7-4: IRQF2P[?] -> IRQ[?-32]
	};
*/
};
