/* 
Author	: Jacky.Wang <kenwj@sina.com>
NOTICE	:
   clocks : means "clocks_input" actually
   clock-names : the name is "aligned" with the corresponding driver
interrupts of zynq7k:
  PL to PS Interrupts:
    IRQF2P[ 7: 0] input, SPI: Numbers [68:61].
    IRQF2P[15: 8] input, SPI: Numbers [91:84].
    IRQF2P[19:16] input, PPI: nFIQ, nIRQ (both CPUs).
  PS to PL Interrupts:
    IRQP2F[27: 0] Output, I/O peripherals received and forwarded to the interrupt controller.

History	:
  base: branch "adrv9009_zc706", "arch\arm\boot\dts\zynq-zc706-adv7511-adrv9009.dts"
  change: clock-tree/interrupts per FHK-RFB (1*AD9528+2*AD9009)
  reference: https://ez.analog.com/wide-band-rf-transceivers/
    design-support-adrv9008-1-adrv9008-2-adrv9009/f/discussions/
    100583/adrv9009-custom-profile/300558
  change: Xilinx DPD integration, FHK DMA datapath verification
*/

/dts-v1/;

#if 0	/* Xilinx-ZC706 Board Design slight adjusted by FHK */
#include "zynq-zc706_fhk.dtsi"
#include "zynq-zc706-adv7511_fhk.dtsi"
#else	/* FHK-DFB New Board Design based on Xilinx-ZC706 */
#include "zynq-zc706_fhk_dfb.dtsi"
#include "zynq-zc706-adv7511_fhk_dfb.dtsi"
#endif
#include "zynq-zc706-xge_fhk.dtsi"
#include "zynq-zc706-dfe_fhk.dtsi"

#define AD9009N1_ENABLE 1
#define AD9009N2_ENABLE 1

&i2c_mux {
	i2c@5 { /* HPC IIC */
		#address-cells = <1>;
		#size-cells = <0>;
		reg = <5>;

		eeprom@50 {
			compatible = "at24,24c02";
			reg = <0x50>;
		};

		eeprom@54 {
			compatible = "at24,24c02";
			reg = <0x54>;
		};

		/*ad7291@2f {
			compatible = "adi,ad7291";
			reg = <0x2f>;
		};*/
	};
};

#if AD9009N1_ENABLE
&fpga_axi {
	/* 0 (AXI_DMAC_TYPE_AXI_MM): Memory mapped AXI interface
	   1 (AXI_DMAC_TYPE_AXI_STREAM): Streaming AXI interface
	   2 (AXI_DMAC_TYPE_AXI_FIFO): FIFO interface */
	iiorx_dma: iiorx-dmac@7c400000 {
		compatible = "adi,axi-dmac-1.00.a";
		reg = <0x7c400000 0x10000>;
		#dma-cells = <1>;
		interrupts = <0 57 0>; //UG585, Table 7-4: IRQF2P[13] -> IRQ[89-32]
		clocks = <&clkc 15>; // 15/fclk0=100MHz <- 17/fclk2=250MHz
		//clocks = <&clkc 15>, <&clkc 17>, <&misc_clk_0>;
		//clock-names = "s_axi_aclk", "m_dest_axi_aclk", "fifo_wr_clk";

		adi,channels {
			#size-cells = <0>;
			#address-cells = <1>;

			dma-channel@0 {
				reg = <0>;
				adi,source-bus-width = <64>;
				adi,source-bus-type = <2>;
				adi,destination-bus-width = <64>;
				adi,destination-bus-type = <0>;
			};
		};
	};

	iioro_dma: iioro-dmac@7c440000  {
		compatible = "adi,axi-dmac-1.00.a";
		reg = <0x7c440000  0x10000>;
		#dma-cells = <1>;
		interrupts = <0 55 0>; //UG585, Table 7-4: IRQF2P[11] -> IRQ[87-32]
		clocks = <&clkc 15>; // 15/fclk0=100MHz <- 17/fclk2=250MHz
		//clocks = <&clkc 15>, <&clkc 17>, <&misc_clk_0>;
		//clock-names = "s_axi_aclk", "m_dest_axi_aclk", "fifo_wr_clk";

		adi,channels {
			#size-cells = <0>;
			#address-cells = <1>;

			dma-channel@0 {
				reg = <0>;
				adi,source-bus-width = <128>;// TODO: master for 122profile: 128
				adi,source-bus-type = <2>;
				adi,destination-bus-width = <64>;
				adi,destination-bus-type = <0>;
			};
		};
	};

	iiotx_dma: iiotx-dmac@7c420000 {
		compatible = "adi,axi-dmac-1.00.a";
		reg = <0x7c420000 0x10000>;
		#dma-cells = <1>;
		interrupts = <0 56 0>; //UG585, Table 7-4: IRQF2P[12] -> IRQ[88-32]
		clocks = <&clkc 15>; // 15/fclk0=100MHz <- 17/fclk2=250MHz
		//clocks = <&clkc 15>, <&clkc 17>, <&clkc 17>;
		//clock-names = "s_axi_aclk", "m_src_axi_aclk", "m_axis_aclk";

		adi,channels {
			#size-cells = <0>;
			#address-cells = <1>;

			dma-channel@0 {
				reg = <0>;
				adi,source-bus-width = <128>;
				adi,source-bus-type = <0>;
				adi,destination-bus-width = <128>;
				adi,destination-bus-type = <2>;
				//adi,cyclic;
			};
		};
	};

	/* name for libiio-GUI(i.e. IIO-OSC) and libiio-apps(e.g.iio_stream.arm) */
	jesd204rx_layer3: jesd204rx-layer3@44a00000 {
		compatible = "adi,axi-adrv9009-rx-1.0";
		reg = <0x44a00000 0x8000>;
		dmas = <&iiorx_dma 0>;
		dma-names = "rx";
		spibus-connected = <&trx0_adrv9009>;
		//adi,axi-pl-fifo-enable;/* "iio-stream" fail/succeed when true/false */
	};
	jesd204ro_layer3: jesd204ro-layer3@44a08000 {
		compatible = "adi,axi-adrv9009-obs-1.0";
		reg = <0x44a08000 0x1000>;
		dmas = <&iioro_dma 0>;
		dma-names = "rx";
		clocks = <&trx0_adrv9009 1>;
		clock-names = "sampl_clk";
	};
	jesd204tx_layer3: jesd204tx-layer3@44a04000 {
		compatible = "adi,axi-adrv9009-tx-1.0";
		reg = <0x44a04000 0x4000>;
		dmas = <&iiotx_dma 0>;
		dma-names = "tx";
		clocks = <&trx0_adrv9009 2>;
		clock-names = "sampl_clk";
		spibus-connected = <&trx0_adrv9009>;
		//adi,axi-pl-fifo-enable;/* "iio-stream" fail/succeed when true/false */

		//adi,axi-dds-parity-enable; bool
		//adi,axi-dds-parity-type-odd; bool
		//adi,axi-dds-1-rf-channel; bool
		adi,axi-dds-default-scale = <0x1000>;/* 0.250 */
		adi,axi-dds-default-frequency = <40000000>;
		//adi,axi-interpolation-core-available; bool
		//slavecore-reg; <u32_array>
	};

	jesd204rx_layer2: axi-jesd204-rx@44aa0000 {
		compatible = "adi,axi-jesd204-rx-1.0";
		reg = <0x44aa0000 0x1000>;

		interrupts = <0 54 0>; //UG585, Table 7-4: IRQF2P[10] -> IRQ[86-32]

		clocks = <&clkc 15>, <&jesd204rx_clkgen>, <&jesd204rx_layer1 0>;
		clock-names = "s_axi_aclk", "device_clk", "lane_clk";

		#clock-cells = <0>;
		clock-output-names = "jesd_rx_lane_clk";

		//RX_PATH: *FPGA.JESD204B-DeframerA -> PHY.JESD204B-FramerA
		//Figure 34. JESD204B Framer Configuration (M = 4, L = 2, S = 1)
		//adi,bits-per-sample = <16>;//N'=16; PHY-Framer decide
		//adi,converters-per-device = <4>;//M=4; PHY-Framer decide
		//L(Number of Lanes)=2; PHY-Framer decide
		//S(Number of Samples)=1; PHY-Framer decide(1,2,4)
		adi,octets-per-frame = <4>;//F=N'/8*M*S/L =(16/8)*4*1/2=4
		adi,frames-per-multiframe = <32>;
	};

	jesd204tx_layer2: axi-jesd204-tx@44a90000 {
		compatible = "adi,axi-jesd204-tx-1.0";
		reg = <0x44a90000 0x1000>;

		interrupts = <0 53 0>; //UG585, Table 7-4: IRQF2P[9] -> IRQ[85-32]

		clocks = <&clkc 15>, <&jesd204tx_clkgen>, <&jesd204tx_layer1 0>;
		clock-names = "s_axi_aclk", "device_clk", "lane_clk";

		#clock-cells = <0>;
		clock-output-names = "jesd_tx_lane_clk";

		//TX_PATH: *FPGA.JESD204B-FramerA -> PHY.JESD204B-DeframerA
		//L(Number of Lanes)=4; PHY-Deframer decide
		//S(Number of Samples)=1; PHY-Deframer decide(1-only)
		//Figure 36. JESD204B Framer Configuration (M = 4, L = 4, S = 1)
		adi,octets-per-frame = <2>;//F=N'/8*M*S/L =(16/8)*4*1/4=2
		adi,frames-per-multiframe = <32>;
		adi,converter-resolution = <16>;// 20190314: different from 14/zynqmp-zcu102-rev10-adrv9009.dts
		adi,bits-per-sample = <16>;//N'=16; PHY-Deframer decide
		adi,converters-per-device = <4>;//M=4; PHY-Deframer decide
		adi,control-bits-per-sample = <0>;// 20190314: different from 2/zynqmp-zcu102-rev10-adrv9009.dts
	};

	jesd204ro_layer2: axi-jesd204-ro@44ab0000 {
		compatible = "adi,axi-jesd204-rx-1.0";
		reg = <0x44ab0000 0x1000>;

		interrupts = <0 52 0>; //UG585, Table 7-4: IRQF2P[8] -> IRQ[84-32]

		clocks = <&clkc 15>, <&jesd204ro_clkgen>, <&jesd204ro_layer1 0>;
		clock-names = "s_axi_aclk", "device_clk", "lane_clk";

		#clock-cells = <0>;
		clock-output-names = "jesd_rx_os_lane_clk";

		//RO_PATH: *FPGA.JESD204B-DeframerB -> PHY.JESD204B-FramerB
		//option1: HW keep ORx1&2 setting(Figure 27. JESD204B Framer Configuration (M = 4, L = 2, S = 1)) but SW enable ORx2-only
		//option2: HW change into (Figure 13. Framer Data Packing for (M = 2, L = 1, S = 1))
		//stitching mode must setting with (M = 2, L = 2, logically), (M = 4, L = 2 physically)
		//adi,bits-per-sample = <16>;//N'=16; PHY-Framer decide
		//adi,converters-per-device = <2>;//PHY-Framer decide; must be 2 logically if ORX_rfbandwidth>200MHz
		//L(Number of Lanes)=2; PHY-Framer decide
		//S(Number of Samples)=1; PHY-Framer decide(1,2,or4)
		//F=N'/8*M*S/L: case1/orx-stitching=(16/8)*2*1/2=2; case2/orx-2chn=(16/8)*4*1/2=4;
		adi,octets-per-frame = <4>;
		adi,frames-per-multiframe = <32>;
	};

	jesd204tx_clkgen: axi-clkgen-tx@43c00000  {
		compatible = "adi,axi-clkgen-2.00.a";
		reg = <0x43c00000 0x10000>;
		#clock-cells = <0>;
		clocks = <&clk0_ad9528 8>;
		clock-output-names = "axi_tx_clkgen";
	};

	jesd204rx_clkgen: axi-clkgen-rx@43c10000  {
		compatible = "adi,axi-clkgen-2.00.a";
		reg = <0x43c10000 0x10000>;
		#clock-cells = <0>;
		clocks = <&clk0_ad9528 8>;
		clock-output-names = "axi_rx_clkgen";
	};

	jesd204ro_clkgen: axi-clkgen-ro@43c20000  {
		compatible = "adi,axi-clkgen-2.00.a";
		reg = <0x43c20000 0x10000>;
		#clock-cells = <0>;
		clocks = <&clk0_ad9528 8>;
		clock-output-names = "axi_rx_os_clkgen";
	};

	jesd204rx_layer1: axi-adxcvr-rx@44a60000 {
		#address-cells = <1>;
		#size-cells = <0>;
		compatible = "adi,axi-adxcvr-1.0";
		reg = <0x44a60000 0x1000>;

		clocks = <&clk0_ad9528 8>, <&jesd204rx_clkgen 0>;
		clock-names = "conv", "div40";

		#clock-cells = <1>;
		clock-output-names = "rx_gt_clk", "rx_out_clk";

		adi,sys-clk-select = <3>;//0->3: 20190320: using the shared QPLL(by Tx/Rx/ORx)
		adi,out-clk-select = <3>;
		adi,use-lpm-enable;
		//adi,use-cpll-enable;//20190320: using the shared QPLL(by Tx/Rx/ORx)
	};

	jesd204ro_layer1: axi-adxcvr-ro@44a50000 {
		#address-cells = <1>;
		#size-cells = <0>;
		compatible = "adi,axi-adxcvr-1.0";
		reg = <0x44a50000 0x1000>;

		clocks = <&clk0_ad9528 8>, <&jesd204ro_clkgen>;
		clock-names = "conv", "div40";

		#clock-cells = <1>;
		clock-output-names = "rx_os_gt_clk", "rx_os_out_clk";

		adi,sys-clk-select = <3>;//0->3: 20190320: using the shared QPLL(by Tx/Rx/ORx)
		adi,out-clk-select = <3>;
		adi,use-lpm-enable;
		//adi,use-cpll-enable;//20190320: using the shared QPLL(by Tx/Rx/ORx)
	};

	jesd204tx_layer1: axi-adxcvr-tx@44a80000 {
		#address-cells = <1>;
		#size-cells = <0>;
		compatible = "adi,axi-adxcvr-1.0";
		reg = <0x44a80000 0x1000>;

		clocks = <&clk0_ad9528 8>, <&jesd204tx_clkgen>;
		clock-names = "conv", "div40";

		#clock-cells = <1>;
		clock-output-names = "tx_gt_clk", "tx_out_clk";

		adi,sys-clk-select = <3>;// using QPLL for Tx, QPLL+CPLL for Rx/ORx
		adi,out-clk-select = <3>;
	};
};
#endif

&spi0 {
	status = "okay";
};

#define fmc_spi spi0

#if AD9009N1_ENABLE
#if 1 /* 122.88M-SPS: using QPLL for Tx, QPLL+CPLL for Rx/ORx */
#include "adi-adrv9009_fhk122dc122.dtsi"
	&jesd204rx_layer1 {
		adi,sys-clk-select = <0>;
		adi,use-cpll-enable;
	};
	&jesd204ro_layer1 {
		adi,sys-clk-select = <0>;
		adi,use-cpll-enable;
	};
#endif
#if 0 /* 245.76M-SPS: using QPLL-only for Tx/Rx/ORx */
#include "adi-adrv9009_fhk245dc245.dtsi"
#endif
#if 0 /* 491.52M-SPS: using QPLL-only for Tx/Rx/ORx */
#include "adi-adrv9009_fhk491dc245.dtsi"
//#include "adi-adrv9009_fhk491dc122.dtsi"
	&jesd204ro_layer2 {
		adi,octets-per-frame = <2>;
	};
#endif
#endif
#if AD9009N1_ENABLE
// adrv9009_dac_fifo_bypass_s 60
// ad9528_reset_b,       // 59
// ad9528_sysref_req,    // 58
// adrv9009_tx1_enable,    // 57
// adrv9009_tx2_enable,    // 56
// adrv9009_rx1_enable,    // 55
// adrv9009_rx2_enable,    // 54
// adrv9009_test,          // 53
// adrv9009_reset_b,       // 52
// adrv9009_gpint,         // 51
// adrv9009_gpio_00,       // 50
// adrv9009_gpio_01,       // 49
// adrv9009_gpio_02,       // 48
// adrv9009_gpio_03,       // 47
// adrv9009_gpio_04,       // 46
// adrv9009_gpio_05,       // 45
// adrv9009_gpio_06,       // 44
// adrv9009_gpio_07,       // 43
// adrv9009_gpio_15,       // 42
// adrv9009_gpio_08,       // 41
// adrv9009_gpio_09,       // 40
// adrv9009_gpio_10,       // 39
// adrv9009_gpio_11,       // 38
// adrv9009_gpio_12,       // 37
// adrv9009_gpio_14,       // 36
// adrv9009_gpio_13,       // 35
// adrv9009_gpio_17,       // 34
// adrv9009_gpio_16,       // 33
// adrv9009_gpio_18}));    // 32 + 54

&trx0_adrv9009 {
	reset-gpios = <&gpio0 106 0>;
	test-gpios = <&gpio0 107 0>;
	sysref-req-gpios = <&gpio0 112 0>;
	/* FHK design: PL.RFESS.TDDC -> IO-signals -> RFIC & RFFC
	rx2-enable-gpios = <&gpio0 108 0>;
	rx1-enable-gpios = <&gpio0 109 0>;
	tx2-enable-gpios = <&gpio0 110 0>;
	tx1-enable-gpios = <&gpio0 111 0>;*/
};
#endif

&clk0_ad9528 {
	reset-gpios = <&gpio0 113 0>;
};
#if AD9009N1_ENABLE
&jesd204tx_layer3 {
	plddrbypass-gpios = <&gpio0 114 0>;
};
#endif

#if AD9009N2_ENABLE
#include "zynq-zc706-adrv9009n2_fhk.dtsi"
#endif

&spi1 {
	status = "okay";

	/*clksync_ad9544: clksync-ad9544@0 {
		compatible = "adi,ad9544";
		reg = <0>;

		#address-cells = <1>;
		#size-cells = <0>;

		spi-max-frequency = <1000000>;
		//adi,spi-3wire-enable;

		clock-output-names = ;
		#clock-cells = <1>;
	};*/
};

